<main id="content" role="main" class="solution-industry-page">
    <section class="identification-home">
        <div class="container">
            <div class="row">
                <div class="identification-home-wrapper">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="graph-wrapper-home">
                            <div class="identification-home-image-wrapper"
                                 style="background-image: url(./assets/images/unique-1.png)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="graph-content-wrapper-home">
                            <div class="identification-right-content-wrapper">
                                <div class="img-identity" style="background-image: url(./assets/images/home/1.png)">
                                </div>
                                <h4>AI On Chip</h4>

                                <p>Nunc at est non erat faucibus malesuada vitae vel dui. Aenean
                                    eget placerat neque. In purus dolor, accumsana.
                                </p>
                                <a href="" class="banner-learn-more">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    <section class="">

    </section>
    </main>