.home-banner {
  background-image: url(../images/home-banner.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  min-height: 778px;
  align-content: center;
  align-items: center;
  padding-top: 286px;

  h2 {
    @extend %h2-banner-heading-text;
    margin-bottom: 0;
    letter-spacing: -1.02px;
    padding-left: 10px;

  }
  h3 {
    @extend %h3-banner-heading-text;
    margin-top: 12px;
    margin-bottom: 17px;
    line-height: 49px;
    padding-left: 10px;
    letter-spacing: -1.7px;
  }
  .button-wrapper {
    text-align: center;
    margin: 0 auto;
    padding-top: 45px;

    .banner-learn-more {
      color: $dark-sky-blue;
      padding: 18px 50px;
      background-color: $white;
      &:focus,
      &:hover {
        background-color: $black;
        color: $white;
      }
    }

  }

}
.resources-banner{
  margin-top: 100px;
  h2{
    padding-top:21px;
    letter-spacing:-1.7px;
  }
}
.solution-banner{
  min-height: 563px;
  padding-top:193px;
}

.btn {
  margin-left: 64px;
}



/*Ipad Portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .home-banner {
    display: block;
    padding: 160px 30px;
    min-height: 350px;
    overflow-x: hidden;

    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 23px;
    }
    .button-wrapper {
      padding-top: 23px;

    }

  }
  .btn {
    margin-left: 4px;
  }
  .solution-banner{
    min-height:552px;
    padding-top:122px;

    h3{
      font-size:21px;
      line-height: 31px;
      padding-top:10px;
      padding-bottom:10px;
    }
    h2{
      font-size: 30px;
      padding-top: 88px;
    }
  }
}

//767 styling
@media (max-width: 767px) {
  .home-banner {
    display: block;
    padding: 120px 30px;
    min-height: 571px;



    h2 {
    font-size:32px;
      padding-top:71px;
    }
    h3 {
      font-size: 23px;
      line-height: 39px;
      padding-bottom:10px;
      padding-top:10px;
    }
    .button-wrapper {
      padding-top: 23px;

    }

  }
  .btn {
    margin-left: 4px;
  }
  .solution-banner{
    min-height:552px;
    padding-top:122px;

    h3{
      font-size:21px;
      line-height: 31px;
      padding-top:10px;
    }
    h2{
      font-size: 30px;
    }
  }
  .resources-banner{
    min-height: 400px!important;
  }
}
