.identification-home {
  background-image: url(../images/home/identification-home.png);
  background-position: bottom -269px right;
  background-repeat: no-repeat;
  position:relative;
  padding-bottom: 57px;
  .identification-home-wrapper {

    .identification-home-image-wrapper {
      width: 594px;
      height: 399px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 20px;
      box-shadow: -4px 3px 25px 0 rgba(71, 82, 115, 0.35);
    }

    .graph-content-wrapper-home {
      padding-top:54px;
      h4 {
        @extend %h4-center;
        padding-bottom: 17px;
      }
      p {
        @extend %paragraphs;
        padding-bottom: 49px;
        line-height: 24px;
      }
      .banner-learn-more{
        padding: 13px 23px;
      }
    }

  }

  .binary-library-wrapper {
    .img-identity-wrapper {
      padding-top:50px;
      .img-identity {
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        display:inline-block;
      }
      h4 {
        @extend %h4-center;
        padding-bottom: 15px;
        display:inline;
        padding-left:10px;
        vertical-align: text-bottom;
        line-height: 34px;
      }

    }
    p {
      @extend %paragraphs;
      font-size: 15px;
      text-align: left;
      line-height: 1.6;
      width:205px;
      padding-top:11px;

    }
  }

  &:before{
    content:'';
    width: 400px;
    height: 828px;
    display: block;
    top: -221px;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../images/home/Mask.png);
    background-position: top left;
    z-index: -1;
  }
  h3{
    @extend %h1-left-dark;
    text-align: center;
    padding-bottom: 64px;
    letter-spacing: -2.02px;
  }

}
/*ipad landscape */
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Ipad Portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .identification-home {
    .identification-home-wrapper {
      .identification-home-image-wrapper{
        width: 100%;
      }
      .graph-content-wrapper-home {
        p{
          padding-bottom:26px;
        }
      }

    }
    &:before{
      background-image:none;
    }

    .binary-library-wrapper {
      p{
        margin:0 auto;
        text-align: center;
      }
      .img-identity-wrapper{
        text-align: center;
      }
    }
  }
}
//767 styling
@media (max-width: 767px) {
  .identification-home {
    padding-bottom:20px;
    background-image: none;
    .identification-home-wrapper {
      .identification-home-image-wrapper{
        width: 90%;
        margin:0 auto;
        margin-bottom: 20px;
      }
    }

    .binary-library-wrapper {
      p{
        width: 100%;
        text-align: center
      }

    }

     .binary-library-wrapper{
       .img-identity-wrapper{
         margin: 0 auto;
         text-align: center;
       }
     }
    .identification-right-content-wrapper{
      text-align: center;
    }
    &:before{
      background-image:none;
    }
    h3{
      padding-top:10px;
      font-size:33px;
    }

  }
  .home-page{
    overflow-x: hidden;
  }


}

