.logo-section-home{
  position:relative;
  .logo-section-home-wrapper {
    padding-top:30px;
    .logo-slider-wrapper {
      .logo-img-home {
        height: 122px;
        background-repeat: no-repeat;
      }
    }

    &:after {
      content: '';
      width: 220px;
      height: 479px;
      display: block;
      top: 120px;
      right: 0;
      position: absolute;
      background-repeat: no-repeat;
      background-image: url(../images/home/logo-before-img.png);
      background-position: top right;
      z-index: 1;
    }
    p{
      @extend %h4-left-dark;
      text-align: center;
      padding-bottom: 43px;
    }
    .logo-slider-outer-wrapper{
      padding-top: 18px;
    }
  }
}

/*Ipad Portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .logo-section-home{
    .logo-section-home-wrapper{
      .logo-slider-wrapper {
        .logo-img-home{
          margin:0 auto;
          display:block;
          height:124px;
          background-position:center;
          width:78%;
        }
      }


      &:after{
        background-image:none;
      }
    }
  }
}


//767 styling
@media (max-width: 767px) {
  .logo-section-home{
    .logo-section-home-wrapper{
      .logo-slider-wrapper {
        .logo-img-home{
          margin:0 auto;
          display:block;
          height:124px;
          background-position:center;
          width:78%;
        }
      }


      &:after{
        background-image:none;
      }
    }
  }
}