
.totally-unique-section {
  padding-bottom: 80px;
  background-image: url(../images/unique-bg-down.png);
  background-position: bottom -512px right;
  background-repeat: no-repeat;

  .unique-box-wrapper {
    margin-top: 7px;
    .img-unique {
      background-repeat: no-repeat;
      background-position: center;
      height: 360px;
      background-size: cover;
      width: 100%;
      margin-top: 6px;
    }

    h3 {
      @extend %h1-left-dark;
      //      padding-bottom: 4px;
      //      padding-top: 34px;
      letter-spacing: -3.02px;
    }
    p {
      @extend %paragraphs;
      padding-bottom: 42px;
    }

  }
  .right {
    .content-wrapper {
      padding-left: 115px !important;
      padding-top: 42px;
      padding-bottom: 30px;
    }

  }
  .left {
    .content-wrapper {
      padding-right: 115px !important;

    }
  }
  .img-three {
    padding-top: 30px;
  }

  //  solution industry box style AI on chip
  .ai-on-chip-wrapper {
    padding-top: 65px;
      .img-ai-chip {
        width:60px;
        height:60px;
        display: inline-block;
        background-repeat:no-repeat;
        vertical-align:top;
      }
      h3{
        display:inline-block;
        padding-left:31px;
        padding-top:10px;
      }
  }

}
.industry-unique-section{
  background-image:none;
  padding-top: 34px;
  padding-bottom: 69px;

  p{
    padding-top:19px;
    padding-bottom:44px;
  }
  .unique-box-wrapper{
    p{
      font-size:20px;
      font-weight:$normal;
      color:$dark-grey-blue;
    }
  }
  .banner-learn-more{
    line-height: 25px;
    padding: 11px 23px 16px 23px;
  }


}

/*Ipad Portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .totally-unique-section {
    padding-bottom: 30px;
    .unique-box-wrapper {
      margin-top: 0px;

      h3 {
        font-size: 30px;
      }
      p {
        font-size: 14px;
        padding-bottom: 22px;
      }
      .img-unique {
        width: 82%;
        margin: 0 auto;
        height: 425px;

      }

    }
    .right {
      .content-wrapper {
        padding-left: 15px !important;
        display: block;
        height: 217px;
        min-height: 217px;
        padding-top: 46px;

      }

    }
    .left {
      .content-wrapper {
        padding-right: 0px !important;
        display: block;
        padding-bottom: 20px;
      }
    }
  }
  .industry-unique-section{

    .content-wrapper{
      text-align: center;
    }
    .ai-on-chip-wrapper{
      padding-top:20px;

      .img-ai-chip{
        vertical-align: middle;
      }
      h3{
        padding-left:15px;
      }
      p{
        margin-bottom:10px !important;
      }

    }

  }
}

//767 styling
@media (max-width: 767px) {

  .totally-unique-section {
    padding-bottom: 30px;
    .unique-box-wrapper {
      margin-top: 0px;

      h3 {
        font-size: 34px;
      }
      p {
        font-size: 14px;
        padding-bottom: 14px;
      }
      .img-unique {
        width: 82%;
        margin: 0 auto;
      }

    }
    .right {
      .content-wrapper {
        padding-left: 15px !important;
        display: block;
        height: 263px;
        min-height: 263px;
        padding-top: 45px;

      }

    }
    .left {
      .content-wrapper {
        padding-right: 0px !important;
        display: block;

      }
    }
    .img-three {
      padding-top: 0;
    }
  }
  .industry-unique-section{
    .content-wrapper{
      text-align: center;
    }
    .ai-on-chip-wrapper{
      padding-top:20px;

      .img-ai-chip{
        vertical-align: middle;
      }
      h3{
        padding-left:15px;
      }
      p{
        margin-bottom:10px !important;
      }

    }

  }
}